<h1>About T. E. Lawrence</h1>
<h3>Lawrence was a british army officer during the First World war renowned fo rhis role in the Arab Revolt and the Sinai and Palestine Campaign against the Ottoman Empire.</h3>
<h4>Here are some facts about him</h4>
<ul>
    <li>Full Name: Thomas Edward Lawrence;</li>
    <li>Sobriquet: Lawrence of Arabia;</li>
    <li>Born: 16 August 1888; </li>
    <li>Deceased: 19 May 1935;</li>
    <li>Cause of death: Injury complications after a motorcycle accident;</li>
    <li>Occupations: Archaeologist; <br>
                    Army Officer; <br>
                    Cartographer; <br>
                    Diplomat; <br>
                    Writer; <br>
    </li>
    <li>Military Allegiance: British Army;</li>
</ul>