<!DOCTYPE html>
<html>
  <head>
    <title>A wee page on T.E.Lawrence</title>
    <!--<link rel="stylesheet" href="/stylesheets/style.css" /> -->
  </head>
  <body>
    <h1>A Wee Page on T. E. Lawrence</h1>
    <h3>If you want to learn anything useful about Lawrence of Arabia, I suggest you visit Wikipedia or perhaps even open a book. <br>
        If you're just checking if I can link pages and do basic back-end stuff, you've come to the right place!
    </h3>

    <a href="/about">See About Page</a> <br>
    <a href="/works">See Works Page</a> <br>
    <a href="/photoGallery">See Photo Gallery Page</a>
  </body>
</html>
